{
  "openapi": "3.1.0",
  "info": {
    "title": "Blockaid API",
    "description": "Blockaid Risk Score API",
    "termsOfService": "https://www.blockaid.io/legal/terms-of-use",
    "license": {
      "name": "Proprietary",
      "url": "https://www.blockaid.io/legal"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blockaid.io",
      "description": "Production server"
    },
    {
      "url": "https://client.blockaid.io",
      "description": "Clients server"
    }
  ],
  "paths": {
    "/v0/platform/integrations/search": {
      "post": {
        "tags": ["external api integrations"],
        "summary": "Search Integrations",
        "operationId": "search_integrations_v0_platform_integrations_search_post",
        "parameters": [],
        "security": [
          {
            "APIKey": []
          },
          {
            "JWT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_Annotated_Union_FireblocksIntegration__SlackIntegration__FordefiIntegration__TelegramIntegration__ResponseWalletIntegration___FieldInfo_annotation_NoneType__required_True__discriminator__type____"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/platform/integrations/{integration_instance_id}/resources": {
      "get": {
        "tags": ["external api integrations"],
        "summary": "Get Integration Resources",
        "operationId": "get_integration_resources_v0_platform_integrations__integration_instance_id__resources_get",
        "parameters": [
          {
            "name": "integration_instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The integration instance ID",
              "title": "Integration Instance Id"
            },
            "description": "The integration instance ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "title": "Size"
            }
          }
        ],
        "security": [
          {
            "APIKey": []
          },
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/VaultsResourceResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SlackResourceResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TelegramResourceResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseWalletChainResourceResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type",
                    "mapping": {
                      "vaults_resource": "#/components/schemas/VaultsResourceResponse",
                      "slack_resource": "#/components/schemas/SlackResourceResponse",
                      "telegram_resource": "#/components/schemas/TelegramResourceResponse",
                      "response_wallet_chains_resource": "#/components/schemas/ResponseWalletChainResourceResponse"
                    }
                  },
                  "title": "Response Get Integration Resources V0 Platform Integrations  Integration Instance Id  Resources Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/platform/cosigners/{id}/policies/": {
      "get": {
        "tags": ["cosigner"],
        "summary": "Get Cosigner Policies Route",
        "description": "Get all policies for a cosigner by ID.",
        "operationId": "get_cosigner_policies_route_external_v0_cosigners__id__policies__get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cosigner ID",
              "title": "Id"
            },
            "description": "Cosigner ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPoliciesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["cosigner"],
        "summary": "Set Cosigner Policies Route",
        "description": "Set policies for a cosigner by ID.",
        "operationId": "set_cosigner_policies_route_external_v0_cosigners__id__policies__post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cosigner ID",
              "title": "Id"
            },
            "description": "Cosigner ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPoliciesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetPoliciesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/platform/cosigners": {
      "post": {
        "tags": ["cosigner"],
        "summary": "Create a new Cosigner",
        "description": "Create a cosigner and determine what it does on proposal, approval, and rejection.",
        "operationId": "create_cosigner_external_route_external_v0_cosigners__post",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCosignerExternalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosignerExternalResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/v0/platform/cosigners/search": {
      "post": {
        "tags": ["cosigner"],
        "summary": "Get Cosigners Paginated Route",
        "description": "Returns a paginated list of Cosigners based on the provided search criteria.",
        "operationId": "get_cosigners_paginated_route_external_v0_cosigners_search_post",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CosignerSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosignerPage_CosignerExternalResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/v0/platform/cosigners/by-name/{name}": {
      "get": {
        "tags": ["cosigner"],
        "summary": "Get Cosigner By Name",
        "description": "Fetch a cosigner by name.",
        "operationId": "get_cosigner_by_name_route_external_v0_cosigners_by_name__name__get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosignerExternalResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/v0/platform/cosigners/{id}": {
      "get": {
        "tags": ["cosigner"],
        "summary": "Get Cosigner External Route",
        "description": "Fetch a cosigner by ID.",
        "operationId": "get_cosigner_external_route_external_v0_cosigners__id__get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosignerExternalResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          },
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": ["cosigner"],
        "summary": "Delete Cosigner External Route",
        "description": "Remove a cosigner by ID.",
        "operationId": "delete_cosigner_external_route_external_v0_cosigners__id__delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          },
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": ["cosigner"],
        "summary": "Update Cosigner External Route",
        "description": "Update a cosigner by ID; the fields you send replace the existing ones.",
        "operationId": "update_cosigner_external_route_external_v0_cosigners__id__patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCosignerExternalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosignerExternalResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/v0/platform/cosigners/{id}/evm/evaluate": {
      "post": {
        "tags": ["cosigner"],
        "summary": "Evaluate EVM Transaction",
        "description": "Run policy evaluation against an EVM transaction for the given cosigner. Returns the policy decision and per-policy trace.",
        "operationId": "evaluate_transaction_route_external_v0_cosigners__id__evm_evaluate_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cosigner ID",
              "title": "Id"
            },
            "description": "Cosigner ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluateTransactionRequest"
              },
              "example": {
                "evaluation_type": "simulate",
                "chain": "ethereum",
                "account_address": "0x1234",
                "data": {
                  "from": "0x1234",
                  "to": "0x1E0049783F008A0085193E00003D00cd54003c71",
                  "value": "0x0",
                  "data": "0xa22cb465"
                },
                "metadata": {
                  "domain": "https://app.safe.global"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "Simulate transaction",
            "source": "curl -X POST \"https://api.blockaid.io/v0/platform/cosigners/<cosigner_id>/evm/evaluate\" \\\n  -H \"X-API-Key: <api_key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"evaluation_type\": \"simulate\",\n    \"chain\": \"ethereum\",\n    \"account_address\": \"0x1234\",\n    \"data\": {\n      \"from\": \"0x1234\",\n      \"to\": \"0x1E0049783F008A0085193E00003D00cd54003c71\",\n      \"value\": \"0x0\",\n      \"data\": \"0xa22cb465\"\n    },\n    \"metadata\": {\n      \"domain\": \"https://app.safe.global\"\n    }\n  }'"
          },
          {
            "lang": "bash",
            "label": "Simulate EIP-712",
            "source": "curl -X POST \"https://api.blockaid.io/v0/platform/cosigners/<cosigner_id>/evm/evaluate\" \\\n  -H \"X-API-Key: <api_key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"evaluation_type\": \"simulate\",\n    \"chain\": \"ethereum\",\n    \"account_address\": \"0xSigner\",\n    \"data\": {\n      \"type\": \"eip712\",\n      \"typed_data\": \"{\\\"types\\\":{},\\\"primaryType\\\":\\\"Order\\\",\\\"domain\\\":{},\\\"message\\\":{}}\",\n      \"eip712_executor\": \"0xSafeExecutor\"\n    },\n    \"metadata\": {\n      \"domain\": \"https://app.safe.global\"\n    }\n  }'"
          },
          {
            "lang": "bash",
            "label": "Evaluate tx hash",
            "source": "curl -X POST \"https://api.blockaid.io/v0/platform/cosigners/<cosigner_id>/evm/evaluate\" \\\n  -H \"X-API-Key: <api_key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"evaluation_type\": \"tx_hash\",\n    \"tx_hash\": \"0xabc\",\n    \"chain\": \"ethereum\",\n    \"show_transaction_detail_for\": []\n  }'"
          },
          {
            "lang": "bash",
            "label": "Evaluate time period",
            "source": "curl -X POST \"https://api.blockaid.io/v0/platform/cosigners/<cosigner_id>/evm/evaluate\" \\\n  -H \"X-API-Key: <api_key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"evaluation_type\": \"time_period\",\n    \"chain\": \"ethereum\",\n    \"time_period\": {\n      \"from\": \"2026-03-01T12:34:56+00:00\",\n      \"to\": \"2026-03-02T01:02:03+00:00\"\n    },\n    \"show_transaction_detail_for\": []\n  }'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/EvaluateTransactionResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EvaluateHistoricalDataResponse"
                    }
                  ],
                  "title": "Response Evaluate Transaction Route External V0 Cosigners  Id  Evm Evaluate Post"
                }
              }
            }
          },
          "404": {
            "description": "Cosigner not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/v0/evm/json-rpc/scan": {
      "post": {
        "tags": ["EVM"],
        "summary": "Scan JSON-RPC",
        "description": "Get a risk recommendation with plain-language reasons for a JSON-RPC request.",
        "operationId": "scan-json-rpc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRPCRequest"
              },
              "examples": {
                "Malicious Permit Order": {
                  "summary": "Ethereum - Malicious Permit Order (EIP 712)",
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0x49c73c9d361c04769a452E85D343b41aC38e0EE4",
                    "data": {
                      "method": "eth_signTypedData_v4",
                      "params": [
                        "0x49c73c9d361c04769a452E85D343b41aC38e0EE4",
                        "{\"domain\":{\"chainId\":1,\"name\":\"Aave interest bearing WETH\",\"version\":\"1\",\"verifyingContract\":\"0x030ba81f1c18d280636f32af80b9aad02cf0854e\"},\"message\":{\"owner\":\"0x49c73c9d361c04769a452E85D343b41aC38e0EE4\",\"spender\":\"0xa74cbd5b80f73b5950768c8dc467f1c6307c00fd\",\"value\":\"115792089237316195423570985008687907853269984665640564039457584007913129639935\",\"nonce\":\"0\",\"deadline\":\"1988064000\",\"holder\":\"0x49c73c9d361c04769a452E85D343b41aC38e0EE4\"},\"primaryType\":\"Permit\",\"types\":{\"EIP712Domain\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"version\",\"type\":\"string\"},{\"name\":\"chainId\",\"type\":\"uint256\"},{\"name\":\"verifyingContract\",\"type\":\"address\"}],\"Permit\":[{\"name\":\"owner\",\"type\":\"address\"},{\"name\":\"spender\",\"type\":\"address\"},{\"name\":\"value\",\"type\":\"uint256\"},{\"name\":\"nonce\",\"type\":\"uint256\"},{\"name\":\"deadline\",\"type\":\"uint256\"}]}}"
                      ],
                      "options": {
                        "domain": "rewards.yfdai.org",
                        "url": "https://rewards.yfdai.org/",
                        "faviconURL": "https://rewards.yfdai.org/Favicon.png",
                        "title": "YFDAI Finance",
                        "tabId": 265105513
                      },
                      "timestamp": 1686151800667
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://boredapeyartclub.com"
                    },
                    "block": "18370320"
                  }
                },
                "Benign Permit Order": {
                  "summary": "Ethereum - Benign Permit Order (EIP 712)",
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0xA910f92ACdAf488fa6eF02174fb86208Ad7722ba",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_signTypedData",
                      "params": [
                        "0xA910f92ACdAf488fa6eF02174fb86208Ad7722ba",
                        "{\"types\":{\"PermitSingle\":[{\"name\":\"details\",\"type\":\"PermitDetails\"},{\"name\":\"spender\",\"type\":\"address\"},{\"name\":\"sigDeadline\",\"type\":\"uint256\"}],\"PermitDetails\":[{\"name\":\"token\",\"type\":\"address\"},{\"name\":\"amount\",\"type\":\"uint160\"},{\"name\":\"expiration\",\"type\":\"uint48\"},{\"name\":\"nonce\",\"type\":\"uint48\"}],\"EIP712Domain\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"chainId\",\"type\":\"uint256\"},{\"name\":\"verifyingContract\",\"type\":\"address\"}]},\"domain\":{\"name\":\"Permit2\",\"chainId\":\"1\",\"verifyingContract\":\"0x000000000022d473030f116ddee9f6b43ac78ba3\"},\"primaryType\":\"PermitSingle\",\"message\":{\"details\":{\"token\":\"0x6982508145454ce325ddbe47a25d4ec3d2311933\",\"amount\":\"1461501637330902918203684832716283019655932542975\",\"expiration\":\"1684512281\",\"nonce\":\"0\"},\"spender\":\"0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b\",\"sigDeadline\":\"1681922081\"}}"
                      ]
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://app.uniswap.org"
                    },
                    "block": "18370320"
                  }
                },
                "Benign Uniswap Execute": {
                  "summary": "Ethereum - Benign Uniswap Execute",
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0x5e1a0d484c5f0de722e82f9dca3a9d5a421d47cb",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "params": [
                        {
                          "gas": "0x2fe6e",
                          "value": "0xde0b6b3a7640000",
                          "from": "0x5e1a0d484c5f0de722e82f9dca3a9d5a421d47cb",
                          "to": "0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad",
                          "data": "0x3593564c000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000006512e04300000000000000000000000000000000000000000000000000000000000000020b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000de0b6b3a7640000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000de0b6b3a7640000000000000000000000000000000000000000000000000000000000005e08060b00000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002bc02aaa39b223fe8d0a0e5c4f27ead9083c756cc20001f4a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48000000000000000000000000000000000000000000"
                        }
                      ]
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://app.uniswap.org"
                    },
                    "block": "18220183"
                  }
                },
                "Malicious Claim Transaction": {
                  "summary": "Ethereum - Malicious Claim Transaction",
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0xb88f61e6fbda83fbfffabe364112137480398018",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "params": [
                        {
                          "from": "0xb88f61e6fbda83fbfffabe364112137480398018",
                          "to": "0x000068da4526a3b4699fd2e0fdf2491fa7900000",
                          "data": "0x3158952e",
                          "value": "0xde25155a6002608359"
                        }
                      ]
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://shibicoin.org"
                    },
                    "block": "18370320"
                  }
                },
                "Malicious Rariable Order": {
                  "summary": "Ethereum - Malicious Rariable Order",
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0x13edbf878e3dbb91d36d15f9b9e061f72d20b603",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_signTypedData",
                      "params": [
                        "0x13edbf878e3dbb91d36d15f9b9e061f72d20b603",
                        "{\"primaryType\":\"Order\",\"domain\":{\"name\":\"Exchange\",\"version\":\"2\",\"verifyingContract\":\"0x9757f2d2b135150bbeb65308d4a91804107cd8d6\",\"chainId\":1},\"types\":{\"EIP712Domain\":[{\"type\":\"string\",\"name\":\"name\"},{\"type\":\"string\",\"name\":\"version\"},{\"type\":\"uint256\",\"name\":\"chainId\"},{\"type\":\"address\",\"name\":\"verifyingContract\"}],\"AssetType\":[{\"name\":\"assetClass\",\"type\":\"bytes4\"},{\"name\":\"data\",\"type\":\"bytes\"}],\"Asset\":[{\"name\":\"assetType\",\"type\":\"AssetType\"},{\"name\":\"value\",\"type\":\"uint256\"}],\"Order\":[{\"name\":\"maker\",\"type\":\"address\"},{\"name\":\"makeAsset\",\"type\":\"Asset\"},{\"name\":\"taker\",\"type\":\"address\"},{\"name\":\"takeAsset\",\"type\":\"Asset\"},{\"name\":\"salt\",\"type\":\"uint256\"},{\"name\":\"start\",\"type\":\"uint256\"},{\"name\":\"end\",\"type\":\"uint256\"},{\"name\":\"dataType\",\"type\":\"bytes4\"},{\"name\":\"data\",\"type\":\"bytes\"}]},\"message\":{\"maker\":\"0x13edbf878e3dbb91d36d15f9b9e061f72d20b603\",\"makeAsset\":{\"assetType\":{\"assetClass\":\"0x73ad2146\",\"data\":\"0x000000000000000000000000abb3738f04dc2ec20f4ae4462c3d069d02ae045b0000000000000000000000000000000000000000000000000000000000d9c9e8\"},\"value\":\"1\"},\"taker\":\"0xde656841eb0df466a9afb46f15be5b109a879d1f\",\"takeAsset\":{\"assetType\":{\"assetClass\":\"0xaaaebeba\",\"data\":\"0x\"},\"value\":\"1\"},\"salt\":\"0x9b6c77296517496cd44a87d3b4c22e50da500289ae1de7f4f716a7bac6d418f8\",\"start\":0,\"end\":0,\"dataType\":\"0x23d235ef\",\"data\":\"0x0000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000800000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000001cf0df2a5a20cd61d68d4489eebbf85b8d39e18a0000000000000000000000000000000000000000000000000000000000000064\"}}"
                      ]
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://boredapeyartclub.com"
                    },
                    "block": "18370320"
                  }
                },
                "Malicious Approval Transaction": {
                  "summary": "Ethereum - Malicious Approval Transaction",
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0xf60c2ea62edbfe808163751dd0d8693dcb30019c",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "params": [
                        {
                          "from": "0xf60c2ea62edbfe808163751dd0d8693dcb30019c",
                          "to": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                          "data": "0x095ea7b300000000000000000000000000002644e79602f056b03235106a9963826d0000ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff",
                          "value": "0x0000"
                        }
                      ]
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://shibicoin.org"
                    },
                    "block": "18370320"
                  }
                },
                "Malicious Seaport Order": {
                  "summary": "Ethereum - Malicious Seaport Order",
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0x5e1a0d484c5f0de722e82f9dca3a9d5a421d47cb",
                    "data": {
                      "jsonrpc": "2.0",
                      "params": [
                        "0x5e1a0d484c5f0de722e82f9dca3a9d5a421d47cb",
                        "{\"types\":{\"OrderComponents\":[{\"name\":\"offerer\",\"type\":\"address\"},{\"name\":\"zone\",\"type\":\"address\"},{\"name\":\"offer\",\"type\":\"OfferItem[]\"},{\"name\":\"consideration\",\"type\":\"ConsiderationItem[]\"},{\"name\":\"orderType\",\"type\":\"uint8\"},{\"name\":\"startTime\",\"type\":\"uint256\"},{\"name\":\"endTime\",\"type\":\"uint256\"},{\"name\":\"zoneHash\",\"type\":\"bytes32\"},{\"name\":\"salt\",\"type\":\"uint256\"},{\"name\":\"conduitKey\",\"type\":\"bytes32\"},{\"name\":\"counter\",\"type\":\"uint256\"}],\"OfferItem\":[{\"name\":\"itemType\",\"type\":\"uint8\"},{\"name\":\"token\",\"type\":\"address\"},{\"name\":\"identifierOrCriteria\",\"type\":\"uint256\"},{\"name\":\"startAmount\",\"type\":\"uint256\"},{\"name\":\"endAmount\",\"type\":\"uint256\"}],\"ConsiderationItem\":[{\"name\":\"itemType\",\"type\":\"uint8\"},{\"name\":\"token\",\"type\":\"address\"},{\"name\":\"identifierOrCriteria\",\"type\":\"uint256\"},{\"name\":\"startAmount\",\"type\":\"uint256\"},{\"name\":\"endAmount\",\"type\":\"uint256\"},{\"name\":\"recipient\",\"type\":\"address\"}],\"EIP712Domain\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"version\",\"type\":\"string\"},{\"name\":\"chainId\",\"type\":\"uint256\"},{\"name\":\"verifyingContract\",\"type\":\"address\"}]},\"domain\":{\"name\":\"Seaport\",\"version\":\"1.5\",\"chainId\":\"1\",\"verifyingContract\":\"0x00000000000000adc04c56bf30ac9d3c0aaf14dc\"},\"primaryType\":\"OrderComponents\",\"message\":{\"offerer\":\"0x5e1a0d484c5f0de722e82f9dca3a9d5a421d47cb\",\"zone\":\"0x004c00500000ad104d7dbd00e3ae0a5c00560c00\",\"offer\":[{\"itemType\":\"2\",\"token\":\"0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d\",\"identifierOrCriteria\":\"5312\",\"startAmount\":\"1\",\"endAmount\":\"1\"}],\"consideration\":[{\"itemType\":\"2\",\"token\":\"0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d\",\"identifierOrCriteria\":\"5312\",\"startAmount\":\"1\",\"endAmount\":\"1\",\"recipient\":\"0x66c7b75366947f07b5afd7d795833b0a490a6147\"}],\"orderType\":\"0\",\"startTime\":\"1661790956\",\"endTime\":\"115792089237316195423570985008687907853269984665640564039457584007913129639935\",\"zoneHash\":\"0x0000000000000000000000000000000000000000000000000000000000000000\",\"salt\":\"14005991189275993846\",\"conduitKey\":\"0x0000007b02230091a7ed01230072f7006a004d60a8d4e71d599b8104250f0000\",\"counter\":\"0\"}}"
                      ],
                      "method": "eth_signTypedData_v4"
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://boredapeyartclub.com"
                    },
                    "block": "18370320"
                  }
                },
                "Malicious DApp Transaction": {
                  "summary": "Ethereum - Malicious DApp Transaction",
                  "value": {
                    "account_address": "0x5dde50bfabe6228af22380a6287b7af4de5fee6e",
                    "chain": "ethereum",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "params": [
                        {
                          "data": "0x095ea7b300000000000000000000000068b3465833fb72a70ecdf485e0e4c7bd8665fc4500000000000000b88e282822ab5ed106947c1c60af583c1741a38e858de00000",
                          "from": "0x5dde50bfabe6228af22380a6287b7af4de5fee6e",
                          "to": "0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9",
                          "value": "0x0"
                        }
                      ]
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://www.outdoorsportman.com"
                    },
                    "block": "21213745"
                  }
                },
                "Malicious Raw Transaction": {
                  "summary": "Ethereum - Malicious eth_sendRawTransaction",
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0xa72231a5B4BF50B771ae576742Bb522B8683735d",
                    "data": {
                      "jsonrpc": "2.0",
                      "params": [
                        "0x02f8720180849502f9008506deff923882520894a45341e350cd60400fcb56b32a3bcd6b6768e242878e1bc9bf04000080c080a06be4a917e6b15b02d020a4eefc942b9dea9bf3501203eb8393846ef3ac20137ea03ff4badc2548744cea7495244307745ac4289ec7cf7a401d1e030ff5f52b5c17"
                      ],
                      "method": "eth_sendRawTransaction"
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://shibicoin.org"
                    },
                    "block": "18000000"
                  }
                },
                "Warning User Mistake": {
                  "summary": "BSC - Warning User Mistake",
                  "value": {
                    "chain": "bsc",
                    "account_address": "0x23eedc4c4e6c91d68eb78eea46a94680b8096f37",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "params": [
                        {
                          "gas": "0x8932",
                          "value": "0x0",
                          "from": "0x23eedc4c4e6c91d68eb78eea46a94680b8096f37",
                          "to": "0x998305efdc264b9674178899fffbb44a47134a76",
                          "data": "0xa9059cbb000000000000000000000000998305efdc264b9674178899fffbb44a47134a76000000000000000000000000000000000000000000000012f939c99edab80000"
                        }
                      ]
                    },
                    "options": ["validation"],
                    "metadata": {
                      "non_dapp": true
                    },
                    "block": "37305539"
                  }
                },
                "NFT approval Transaction": {
                  "summary": "Ethereum - NFT Approval",
                  "value": {
                    "chain": "ethereum",
                    "metadata": {
                      "domain": "https://example.xyz"
                    },
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "params": [
                        {
                          "data": "0xa22cb4650000000000000000000000001e0049783f008a0085193e00003d00cd54003c710000000000000000000000000000000000000000000000000000000000000001",
                          "to": "0xe1dC516B1486Aba548eecD2947A11273518434a4",
                          "from": "0x7CfD2441b0b356c85F183062E5EE9b4d54085052",
                          "value": "0x0"
                        }
                      ]
                    },
                    "options": ["validation", "simulation", "events"],
                    "block": "18812199"
                  }
                },
                "BSC Malicious Raw Transfer": {
                  "summary": "BSC - Malicious Raw Transfer",
                  "value": {
                    "metadata": {
                      "domain": "https://example.xyz/",
                      "non_dapp": false
                    },
                    "chain": "bsc",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "params": [
                        {
                          "chainId": 1,
                          "from": "0x0966602E47F6a3CA5692529F1D54EcD1d9B09175",
                          "to": "0x0A63054930e47814d9fF6071923011CBb9aE6A78",
                          "value": "0x10"
                        }
                      ]
                    },
                    "options": ["validation"],
                    "account_address": "0x0966602E47F6a3CA5692529F1D54EcD1d9B09175",
                    "block": "37305539"
                  }
                },
                "Linea malicious permit": {
                  "summary": "Linea - Malicious Permit (EIP 712)",
                  "value": {
                    "metadata": {
                      "domain": "https://example.xyz",
                      "chainId": "0xe708"
                    },
                    "chain": "linea",
                    "block": "798220",
                    "account_address": "0xd7aa9ba6caac7b0436c91396f22ca5a7f31664fc",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_signTypedData_v4",
                      "params": [
                        "0xd7aa9ba6caac7b0436c91396f22ca5a7f31664fc",
                        "{\"types\":{\"EIP712Domain\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"version\",\"type\":\"string\"},{\"name\":\"chainId\",\"type\":\"uint256\"},{\"name\":\"verifyingContract\",\"type\":\"address\"}],\"Permit\":[{\"name\":\"owner\",\"type\":\"address\"},{\"name\":\"spender\",\"type\":\"address\"},{\"name\":\"value\",\"type\":\"uint256\"},{\"name\":\"nonce\",\"type\":\"uint256\"},{\"name\":\"deadline\",\"type\":\"uint256\"}]},\"primaryType\":\"Permit\",\"domain\":{\"name\":\"USD Coin\",\"verifyingContract\":\"0xa219439258ca9da29e9cc4ce5596924745e12b93\",\"chainId\":59144,\"version\":\"2\"},\"message\":{\"owner\":\"0xd7aa9ba6caac7b0436c91396f22ca5a7f31664fc\",\"spender\":\"0x61935496d2a02935680c87438e68e93b280da565\",\"value\":\"1033366316628\",\"nonce\":1,\"deadline\":1678709555}}"
                      ]
                    },
                    "options": ["validation", "simulation"]
                  }
                },
                "Ethereum Benign Gnosis": {
                  "summary": "Ethereum - Benign Gnosis Order  (EIP 712)",
                  "value": {
                    "block": "17865170",
                    "chain": "ethereum",
                    "account_address": "",
                    "options": ["simulation", "validation"],
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_signTypedData",
                      "params": [
                        "",
                        "{\"types\":{\"Order\":[{\"name\":\"sellToken\",\"type\":\"address\"},{\"name\":\"buyToken\",\"type\":\"address\"},{\"name\":\"receiver\",\"type\":\"address\"},{\"name\":\"sellAmount\",\"type\":\"uint256\"},{\"name\":\"buyAmount\",\"type\":\"uint256\"},{\"name\":\"validTo\",\"type\":\"uint32\"},{\"name\":\"appData\",\"type\":\"bytes32\"},{\"name\":\"feeAmount\",\"type\":\"uint256\"},{\"name\":\"kind\",\"type\":\"string\"},{\"name\":\"partiallyFillable\",\"type\":\"bool\"},{\"name\":\"sellTokenBalance\",\"type\":\"string\"},{\"name\":\"buyTokenBalance\",\"type\":\"string\"}],\"EIP712Domain\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"version\",\"type\":\"string\"},{\"name\":\"chainId\",\"type\":\"uint256\"},{\"name\":\"verifyingContract\",\"type\":\"address\"}]},\"domain\":{\"name\":\"Gnosis Protocol\",\"version\":\"v2\",\"chainId\":\"1\",\"verifyingContract\":\"0x9008d19f58aabd9ed0d60971565aa8510560ab41\"},\"primaryType\":\"Order\",\"message\":{\"sellToken\":\"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48\",\"buyToken\":\"0xdac17f958d2ee523a2206206994597c13d831ec7\",\"receiver\":\"0x33cc1d8539436eacbd13d89edb2636966e33baec\",\"sellAmount\":\"10122091758\",\"buyAmount\":\"10085000000\",\"validTo\":\"1691438670\",\"appData\":\"0xf7afe76740b2e1b5c4395cd9728b4241e99b375141a2680bb2037471a88ff9a0\",\"feeAmount\":\"8632884\",\"kind\":\"buy\",\"partiallyFillable\":false,\"sellTokenBalance\":\"erc20\",\"buyTokenBalance\":\"erc20\"}}"
                      ]
                    },
                    "metadata": {
                      "domain": "https://swap.cow.fi/"
                    }
                  }
                },
                "Ethereum benign 1inch": {
                  "summary": "Ethereum - Benign 1inch Order  (EIP 712)",
                  "value": {
                    "chain": "ethereum",
                    "block": "18333270",
                    "account_address": "",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_signTypedData",
                      "params": [
                        "",
                        "{\"primaryType\":\"Order\",\"types\":{\"EIP712Domain\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"version\",\"type\":\"string\"},{\"name\":\"chainId\",\"type\":\"uint256\"},{\"name\":\"verifyingContract\",\"type\":\"address\"}],\"Order\":[{\"name\":\"salt\",\"type\":\"uint256\"},{\"name\":\"makerAsset\",\"type\":\"address\"},{\"name\":\"takerAsset\",\"type\":\"address\"},{\"name\":\"maker\",\"type\":\"address\"},{\"name\":\"receiver\",\"type\":\"address\"},{\"name\":\"allowedSender\",\"type\":\"address\"},{\"name\":\"makingAmount\",\"type\":\"uint256\"},{\"name\":\"takingAmount\",\"type\":\"uint256\"},{\"name\":\"offsets\",\"type\":\"uint256\"},{\"name\":\"interactions\",\"type\":\"bytes\"}]},\"domain\":{\"name\":\"1inch Aggregation Router\",\"version\":\"5\",\"chainId\":1,\"verifyingContract\":\"0x1111111254eeb25477b68fb85ed929f73a960582\"},\"message\":{\"salt\":\"48805960945\",\"makerAsset\":\"0x64Bc2cA1Be492bE7185FAA2c8835d9b824c8a194\",\"takerAsset\":\"0xdAC17F958D2ee523a2206206994597C13D831ec7\",\"maker\":\"0xa3BB1dDDCC9EB341b7C9b9fB36FA2d3459f84727\",\"receiver\":\"0x0000000000000000000000000000000000000000\",\"allowedSender\":\"0x0000000000000000000000000000000000000000\",\"makingAmount\":\"15564380000000000000000\",\"takingAmount\":\"4435848300\",\"offsets\":\"4421431254442149611168492388118363282642987198110904030635476664713216\",\"interactions\":\"0xbf15fcd8000000000000000000000000303389f541ff2d620e42832f180a08e767b28e10000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000242cc2878d006527c166000000000c0000a3bb1dddcc9eb341b7c9b9fb36fa2d3459f8472700000000000000000000000000000000000000000000000000000000\"}}"
                      ]
                    },
                    "options": ["validation", "simulation"],
                    "metadata": {
                      "domain": "https://app.1inch.io"
                    }
                  }
                },
                "Base wallet_sendCalls": {
                  "summary": "Base - wallet_sendCalls",
                  "value": {
                    "chain": "base",
                    "block": "29187404",
                    "options": ["validation", "simulation"],
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "wallet_sendCalls",
                      "params": [
                        {
                          "from": "0x68FcFa598bA48a8E4A67d64E743abDbCf813aD9E",
                          "calls": [
                            {
                              "to": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                              "data": "0x095ea7b30000000000000000000000002e480b1096e5f705cc3e049685846ed3022aa22600000000000000000000000000000000000000000000000000000000564e8554",
                              "value": "0x"
                            },
                            {
                              "to": "0x2e480b1096e5f705cc3e049685846ed3022aa226",
                              "data": "0xb15e2e9c00000000000000000000000000000000000000000000000000000000000000e047f00b77d3d75ffe1094dab8a1d8f813627471c1050e035e57cd50dc06a6a0be00000000000000000000000068fcfa598ba48a8e4a67d64e743abdbcf813ad9e7e4ad0e17f9bcf36a70a9dcac5b80735e19480d74d557764ec5409fbe392e51c000000000000000000000000b39dca629be804b9e0ec7e6a7802f94f6a7cbb890000000000000000000000000000000000000000000000000000000000000320000000000000000000000000000000000000000000000000000000000000000069ec7fbf1093ea5659d208ba5be1717a4241ca8ad0d196d4bfd3d03a45a800f4000000000000000000000000000000000000000000000000000000000000008900000000000000000000000000000000000000000000000000000000000021050000000000000000000000002e480b1096e5f705cc3e049685846ed3022aa22600000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000001200000000000000000000000000000000000000000000000000000000000000001000000000000000000000000833589fcd6edb6e08f4c7c32d4f71b54bda0291300000000000000000000000000000000000000000000000000000000564e855400000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000833589fcd6edb6e08f4c7c32d4f71b54bda02913000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000044a9059cbb0000000000000000000000005073617d7fad626f14b74bee63f4b3c2afba0d7d00000000000000000000000000000000000000000000000000000000564e85540000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000",
                              "value": "0x71B861D91AF6"
                            }
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "domain": "https://example.xyz"
                    }
                  }
                },
                "EIP-7702 Set Code": {
                  "summary": "EIP-7702 - Set Code Account",
                  "value": {
                    "chain": "ethereum-sepolia",
                    "account_address": "0x95642cf558cf215069ac6359c81b075296a0ddcc",
                    "options": ["simulation"],
                    "block": "7984145",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "origin": "",
                      "params": [
                        {
                          "from": "0x95642cf558cf215069ac6359c81b075296a0ddcc",
                          "to": "0x692e96a36e9ab238fd7dbfce87677d1e39d2e994",
                          "value": "0x0",
                          "data": "0xcd83603b",
                          "authorization_list": [
                            {
                              "chainId": "0xaa36a7",
                              "address": "0x14c5506fba519d3ec096dd971ce68db83439df2f",
                              "nonce": "0x2",
                              "yParity": "0x1",
                              "r": "0x9d50e67f20879ba5e79311e305b1d2a9f182c9a21544eec213f0493067c68fa0",
                              "s": "0x5799170dfc9f6b99ffdd75b82614489fb6966fae296128fb89adf5f932b128d1"
                            }
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "domain": "https://example.xyz"
                    }
                  }
                },
                "EIP-7702 Set Code without signature": {
                  "summary": "EIP-7702 - Set Code Account without signature",
                  "value": {
                    "chain": "ethereum-sepolia",
                    "account_address": "0x95642cf558cf215069ac6359c81b075296a0ddcc",
                    "options": ["simulation"],
                    "block": "7984145",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "origin": "",
                      "params": [
                        {
                          "from": "0x95642cf558cf215069ac6359c81b075296a0ddcc",
                          "to": "0x692e96a36e9ab238fd7dbfce87677d1e39d2e994",
                          "value": "0x0",
                          "data": "0xcd83603b",
                          "authorization_list": [
                            {
                              "chainId": "0xaa36a7",
                              "address": "0x14c5506fba519d3ec096dd971ce68db83439df2f",
                              "nonce": "0x2",
                              "eoa": "0x692E96A36E9Ab238FD7dBFce87677D1E39d2E994"
                            }
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "domain": "https://example.xyz"
                    }
                  }
                },
                "EIP-7702 Malicious Upgrade with new empty address": {
                  "summary": "EIP-7702 Malicious Upgrade with new empty address example",
                  "value": {
                    "chain": "ethereum-sepolia",
                    "block": "8020318",
                    "metadata": {
                      "domain": "ORIGIN"
                    },
                    "options": ["simulation", "validation"],
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "origin": "",
                      "params": [
                        {
                          "data": "0x",
                          "from": "0x426f99291ba267e155d9b9b4fa5d698a23dde108",
                          "to": "0x426f99291ba267e155d9b9b4fa5d698a23dde108",
                          "value": "0x0",
                          "authorization_list": [
                            {
                              "chainId": "0x0",
                              "address": "0x0000000000000000000000000000000000000000",
                              "nonce": "0x4a",
                              "yParity": "0x0",
                              "r": "0xcb379f711a13aba6afedd116bbacfc856e7b9d3154f71c5f9c1d45f0d2731856",
                              "s": "0x1ba2d22a1f30637ac3bf7bb493e6041c4d004ffe3eaa6865986d264f856c328"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "EIP-7702 Malicious Upgrade to an untrusted address": {
                  "summary": "EIP-7702 Malicious Upgrade to an untrusted address",
                  "value": {
                    "chain": "ethereum",
                    "block": "8095704",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_sendTransaction",
                      "origin": "",
                      "params": [
                        {
                          "data": "0x8129fc1c",
                          "from": "0x0665568f397379262c764ff66446c5f7de1e8d1c",
                          "to": "0x0665568f397379262c764ff66446c5f7de1e8d1c",
                          "value": "0x0",
                          "authorization_list": [
                            {
                              "chainId": "0xaa36a7",
                              "address": "0x00000000cd8b0ab3f6c5ee8a41ff7b2f7c3ebe59",
                              "eoa": "0x0665568f397379262C764Ff66446C5f7De1E8d1c"
                            }
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "domain": "ORIGIN"
                    },
                    "options": ["simulation", "validation"]
                  }
                },
                "Hyperliquid SendAsset": {
                  "summary": "Hyperliquid SendAsset - Cross-chain bridge transfer (EIP-712)",
                  "value": {
                    "chain": "hyperevm",
                    "account_address": "0x5059d5d2e6b2ca4829a7351bd9246b232d8ab31a",
                    "data": {
                      "jsonrpc": "2.0",
                      "method": "eth_signTypedData_v4",
                      "params": [
                        "0x5059d5d2e6b2ca4829a7351bd9246b232d8ab31a",
                        "{\"types\":{\"EIP712Domain\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"version\",\"type\":\"string\"},{\"name\":\"chainId\",\"type\":\"uint256\"},{\"name\":\"verifyingContract\",\"type\":\"address\"}],\"HyperliquidTransaction:SendAsset\":[{\"name\":\"hyperliquidChain\",\"type\":\"string\"},{\"name\":\"destination\",\"type\":\"string\"},{\"name\":\"sourceDex\",\"type\":\"string\"},{\"name\":\"destinationDex\",\"type\":\"string\"},{\"name\":\"token\",\"type\":\"string\"},{\"name\":\"amount\",\"type\":\"string\"},{\"name\":\"fromSubAccount\",\"type\":\"string\"},{\"name\":\"nonce\",\"type\":\"uint64\"}]},\"domain\":{\"name\":\"HyperliquidSignTransaction\",\"version\":\"1\",\"chainId\":999,\"verifyingContract\":\"0x0000000000000000000000000000000000000000\"},\"primaryType\":\"HyperliquidTransaction:SendAsset\",\"message\":{\"hyperliquidChain\":\"Mainnet\",\"destination\":\"0x1111111111111111111111111111111111111111\",\"sourceDex\":\"spot\",\"destinationDex\":\"spot\",\"token\":\"USDC:0x6d1e7cde53ba9467b783cb7c530ce054\",\"amount\":\"10.0\",\"fromSubAccount\":\"\",\"nonce\":1776342392991}}"
                      ]
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://app.hyperliquid.xyz"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__evm__response__TransactionScanResponse"
                },
                "examples": {
                  "Ethereum - Seaport Farming": {
                    "value": {
                      "validation": {
                        "result_type": "Malicious",
                        "description": "A known malicious address is involved in the transaction",
                        "reason": "seaport_farming",
                        "features": []
                      },
                      "simulation": {
                        "assets_diffs": {
                          "0x5E1a0D484c5F0DE722E82f9dca3A9d5A421d47cB": [
                            {
                              "asset": {
                                "type": "NATIVE",
                                "name": "Ether",
                                "symbol": "ETH",
                                "chain_name": "Ethereum Mainnet",
                                "chain_id": 1,
                                "decimals": 18
                              },
                              "in": [
                                {
                                  "usd_price": "1.645988685000000062",
                                  "summary": "Received 0.001 ETH",
                                  "value": "0.001",
                                  "raw_value": "0x38d7ea4c68000"
                                }
                              ],
                              "out": []
                            },
                            {
                              "asset": {
                                "type": "ERC721",
                                "name": "BoredApeYachtClub",
                                "symbol": "BAYC",
                                "address": "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                              },
                              "in": [],
                              "out": [
                                {
                                  "usd_price": "39859.294199999996635597",
                                  "summary": "Sent BoredApeYachtClub #5312",
                                  "token_id": "0x14c0"
                                }
                              ]
                            }
                          ],
                          "0x1111222233334444555566667777888899990000": [
                            {
                              "asset": {
                                "type": "NATIVE",
                                "name": "Ether",
                                "symbol": "ETH",
                                "chain_name": "Ethereum Mainnet",
                                "chain_id": 1,
                                "decimals": 18
                              },
                              "in": [],
                              "out": [
                                {
                                  "usd_price": "1.645988685000000062",
                                  "summary": "Sent 0.001 ETH",
                                  "value": "0.001",
                                  "raw_value": "0x38d7ea4c68000"
                                }
                              ]
                            }
                          ],
                          "0xa9cfc982A66D0134FEe2539cFd633559Fb5cf9a0": [
                            {
                              "asset": {
                                "type": "ERC721",
                                "name": "BoredApeYachtClub",
                                "symbol": "BAYC",
                                "address": "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                              },
                              "in": [
                                {
                                  "usd_price": "39859.294199999996635597",
                                  "summary": "Received BoredApeYachtClub #5312",
                                  "token_id": "0x14c0"
                                }
                              ],
                              "out": []
                            }
                          ]
                        },
                        "transaction_actions": [
                          "approval",
                          "native_transfer",
                          "token_transfer"
                        ],
                        "total_usd_diff": {
                          "0x1111222233334444555566667777888899990000": {
                            "in": "0.0",
                            "out": "1.645988685000000062",
                            "total": "-1.645988685000000062"
                          },
                          "0x5E1a0D484c5F0DE722E82f9dca3A9d5A421d47cB": {
                            "in": "1.645988685000000062",
                            "out": "39859.294199999996635597",
                            "total": "-39857.648211314997752197"
                          },
                          "0xa9cfc982A66D0134FEe2539cFd633559Fb5cf9a0": {
                            "in": "39859.294199999996635597",
                            "out": "0.0",
                            "total": "39859.294199999996635597"
                          }
                        },
                        "exposures": {},
                        "total_usd_exposure": {},
                        "address_details": {
                          "0x1111222233334444555566667777888899990000": {},
                          "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D": {
                            "name_tag": "Bored Ape Yacht Club: BAYC Token",
                            "contract_name": "BoredApeYachtClub"
                          },
                          "0x5E1a0D484c5F0DE722E82f9dca3A9d5A421d47cB": {},
                          "0x00000000000000ADc04C56Bf30aC9d3c0aAF14dC": {
                            "name_tag": "Seaport 1.5",
                            "contract_name": "Seaport"
                          },
                          "0xa9cfc982A66D0134FEe2539cFd633559Fb5cf9a0": {
                            "name_tag": "Fake_Phishing7802"
                          }
                        }
                      }
                    }
                  },
                  "Hyperliquid SendAsset - Bridge Transfer": {
                    "value": {
                      "validation": {
                        "result_type": "Benign",
                        "description": "",
                        "features": []
                      },
                      "simulation": {
                        "status": "Success",
                        "assets_diffs": {},
                        "transaction_actions": ["bridge"],
                        "total_usd_diff": {},
                        "exposures": {},
                        "total_usd_exposure": {},
                        "address_details": {
                          "0x5059d5d2e6b2ca4829a7351bd9246b232d8ab31a": {}
                        },
                        "account_summary": {
                          "assets_diffs": [
                            {
                              "asset_type": "ERC20",
                              "asset": {
                                "type": "ERC20",
                                "address": "0x6d1e7cde53ba9467b783cb7c530ce054",
                                "name": "USD Coin",
                                "symbol": "USDC",
                                "decimals": 8,
                                "logo_url": ""
                              },
                              "in": [],
                              "out": [
                                {
                                  "raw_value": "1000000000",
                                  "value": "10.0",
                                  "usd_price": "10.0",
                                  "summary": "Sent 10.0 USDC"
                                }
                              ]
                            }
                          ],
                          "traces": [
                            {
                              "type": "BridgeAssetTrace",
                              "bridge_type": "hyperliquid_l1_transfer",
                              "display_name": "Hyperliquid Send (Spot -> Spot)",
                              "logo_url": null,
                              "source": {
                                "chain": "hyperliquid",
                                "address": "0x5059d5d2e6b2ca4829a7351bd9246b232d8ab31a",
                                "asset_type": "FUNGIBLE",
                                "asset": {
                                  "type": "ERC20",
                                  "address": "0x6d1e7cde53ba9467b783cb7c530ce054",
                                  "name": "USD Coin",
                                  "symbol": "USDC",
                                  "decimals": 8,
                                  "logo_url": ""
                                },
                                "diff": {
                                  "raw_value": "1000000000",
                                  "value": "10.0",
                                  "usd_price": "10.0"
                                }
                              },
                              "destinations": [
                                {
                                  "chain": "hyperliquid",
                                  "address": "0x1111111111111111111111111111111111111111",
                                  "asset_type": "FUNGIBLE",
                                  "asset": {
                                    "type": "ERC20",
                                    "address": "0x6d1e7cde53ba9467b783cb7c530ce054",
                                    "name": "USD Coin",
                                    "symbol": "USDC",
                                    "decimals": 8,
                                    "logo_url": ""
                                  },
                                  "diff": {
                                    "raw_value": "1000000000",
                                    "value": "10.0",
                                    "usd_price": "10.0"
                                  }
                                }
                              ]
                            }
                          ],
                          "total_usd_diff": {
                            "in": "0.0",
                            "out": "10.0",
                            "total": "-10.0"
                          }
                        },
                        "session_key": {},
                        "cross_chain_asset_diffs": [
                          {
                            "address": "0x5059d5d2e6b2ca4829a7351bd9246b232d8ab31a",
                            "obj": [
                              {
                                "chain": "hyperliquid",
                                "asset_type": "FUNGIBLE",
                                "asset": {
                                  "type": "ERC20",
                                  "address": "0x6d1e7cde53ba9467b783cb7c530ce054",
                                  "name": "USD Coin",
                                  "symbol": "USDC",
                                  "decimals": 8,
                                  "logo_url": ""
                                },
                                "in": [],
                                "out": [
                                  {
                                    "raw_value": "1000000000",
                                    "value": "10.0",
                                    "usd_price": "10.0",
                                    "summary": "Sent 10.0 USDC"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "address": "0x1111111111111111111111111111111111111111",
                            "obj": [
                              {
                                "chain": "hyperliquid",
                                "asset_type": "FUNGIBLE",
                                "asset": {
                                  "type": "ERC20",
                                  "address": "0x6d1e7cde53ba9467b783cb7c530ce054",
                                  "name": "USD Coin",
                                  "symbol": "USDC",
                                  "decimals": 8,
                                  "logo_url": ""
                                },
                                "in": [
                                  {
                                    "raw_value": "1000000000",
                                    "value": "10.0",
                                    "usd_price": "10.0",
                                    "summary": "Received 10.0 USDC"
                                  }
                                ],
                                "out": []
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          }
        ]
      }
    },
    "/v0/evm/transaction/scan": {
      "post": {
        "tags": ["EVM"],
        "summary": "Scan Transaction",
        "description": "Get a risk recommendation with plain-language reasons for a transaction.",
        "operationId": "scan-transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/routers__evm__transaction__models__TransactionRequest"
              },
              "examples": {
                "Malicious Transfer Transaction": {
                  "summary": "Ethereum - Malicious Transfer Transaction",
                  "value": {
                    "chain": "ethereum",
                    "data": {
                      "from": "0x5e1a0d484c5f0de722e82f9dca3a9d5a421d47cb",
                      "to": "0x0d524a5b52737c0a02880d5e84f7d20b8d66bfba",
                      "data": "0x",
                      "value": "0x1000000000000000"
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://boredapeyartclub.com"
                    },
                    "block": "21211118"
                  }
                },
                "Malicious Approval Transaction": {
                  "summary": "Ethereum - Malicious Approval Transaction",
                  "value": {
                    "chain": "ethereum",
                    "data": {
                      "from": "0xf60c2ea62edbfe808163751dd0d8693dcb30019c",
                      "to": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                      "data": "0x095ea7b300000000000000000000000000002644e79602f056b03235106a9963826d0000ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff",
                      "value": "0x0000",
                      "nonce": "0x1a2bd4"
                    },
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "ORIGIN"
                    },
                    "block": "22515162"
                  }
                },
                "Malicious DApp Transaction": {
                  "summary": "Ethereum - Malicious DApp Transaction",
                  "value": {
                    "chain": "ethereum",
                    "data": {
                      "data": "0x095ea7b300000000000000000000000068b3465833fb72a70ecdf485e0e4c7bd8665fc4500000000000000b88e282822ab5ed106947c1c60af583c1741a38e858de00000",
                      "from": "0x5dde50bfabe6228af22380a6287b7af4de5fee6e",
                      "to": "0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9",
                      "value": "0x0"
                    },
                    "metadata": {
                      "domain": "https://www.outdoorsportman.com"
                    },
                    "options": ["validation", "simulation"],
                    "block": "21213745"
                  }
                },
                "Benign Uniswap Transaction": {
                  "summary": "Ethereum - Benign Uniswap Transaction",
                  "value": {
                    "chain": "ethereum",
                    "data": {
                      "data": "0x3593564c000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000652272e300000000000000000000000000000000000000000000000000000000000000020b080000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000214e8348c4f0000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000214e8348c4f0000000000000000000000000000000000000000000000003a23acd9c16f105fe55000000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000c02aaa39b223fe8d0a0e5c4f27ead9083c756cc20000000000000000000000004277d9ef01fe530d453a1c310a77315fad3f1d24",
                      "from": "0x95785ddb6b7c2069520a547bda324359600fee01",
                      "to": "0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad",
                      "value": "0x214e8348c4f0000"
                    },
                    "metadata": {
                      "domain": "https://app.uniswap.org"
                    },
                    "options": ["validation", "simulation"],
                    "block": "18304655"
                  }
                },
                "EIP-7702 Malicious Upgrade to an untrusted address": {
                  "summary": "EIP-7702 Malicious Upgrade to an untrusted address",
                  "value": {
                    "chain": "ethereum",
                    "block": "8095704",
                    "data": {
                      "data": "0x8129fc1c",
                      "from": "0x0665568f397379262c764ff66446c5f7de1e8d1c",
                      "to": "0x0665568f397379262c764ff66446c5f7de1e8d1c",
                      "value": "0x0",
                      "authorization_list": [
                        {
                          "chainId": "0xaa36a7",
                          "address": "0x00000000cd8b0ab3f6c5ee8a41ff7b2f7c3ebe59",
                          "eoa": "0x0665568f397379262C764Ff66446C5f7De1E8d1c"
                        }
                      ]
                    },
                    "metadata": {
                      "domain": "ORIGIN"
                    },
                    "options": ["simulation", "validation"]
                  }
                },
                "EIP-7702 Malicious Upgrade with new empty address": {
                  "summary": "EIP-7702 Malicious Upgrade with new empty address example",
                  "value": {
                    "chain": "ethereum-sepolia",
                    "block": "8020318",
                    "metadata": {
                      "domain": "ORIGIN"
                    },
                    "options": ["simulation", "validation"],
                    "data": {
                      "data": "0x",
                      "from": "0x426f99291ba267e155d9b9b4fa5d698a23dde108",
                      "to": "0x426f99291ba267e155d9b9b4fa5d698a23dde108",
                      "value": "0x0",
                      "authorization_list": [
                        {
                          "chainId": "0x0",
                          "address": "0x0000000000000000000000000000000000000000",
                          "nonce": "0x4a",
                          "yParity": "0x0",
                          "r": "0xcb379f711a13aba6afedd116bbacfc856e7b9d3154f71c5f9c1d45f0d2731856",
                          "s": "0x1ba2d22a1f30637ac3bf7bb493e6041c4d004ffe3eaa6865986d264f856c328"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__evm__response__TransactionScanResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          }
        ]
      }
    },
    "/v0/evm/transaction/report": {
      "post": {
        "tags": ["EVM"],
        "summary": "Report Transaction",
        "description": "Report a misclassification of a transaction.",
        "operationId": "transaction-report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest_TransactionReportParams_"
              },
              "examples": {
                "Transaction report request_id example": {
                  "summary": "Transaction report request_id example",
                  "value": {
                    "event": "FALSE_POSITIVE",
                    "report": {
                      "type": "request_id",
                      "request_id": "11111111-1111-1111-1111-111111111111"
                    },
                    "details": "Details about the report"
                  }
                },
                "Transaction report params example": {
                  "summary": "Transaction report params example",
                  "value": {
                    "event": "FALSE_NEGATIVE",
                    "report": {
                      "type": "params",
                      "params": {
                        "chain": "ethereum",
                        "account_address": "0x49c73c9d361c04769a452E85D343b41aC38e0EE4",
                        "data": {
                          "method": "eth_signTypedData_v4",
                          "params": [
                            "0x49c73c9d361c04769a452E85D343b41aC38e0EE4",
                            "{\"domain\":{\"chainId\":1,\"name\":\"Aave interest bearing WETH\",\"version\":\"1\",\"verifyingContract\":\"0x030ba81f1c18d280636f32af80b9aad02cf0854e\"},\"message\":{\"owner\":\"0x49c73c9d361c04769a452E85D343b41aC38e0EE4\",\"spender\":\"0xa74cbd5b80f73b5950768c8dc467f1c6307c00fd\",\"value\":\"115792089237316195423570985008687907853269984665640564039457584007913129639935\",\"nonce\":\"0\",\"deadline\":\"1988064000\",\"holder\":\"0x49c73c9d361c04769a452E85D343b41aC38e0EE4\"},\"primaryType\":\"Permit\",\"types\":{\"EIP712Domain\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"version\",\"type\":\"string\"},{\"name\":\"chainId\",\"type\":\"uint256\"},{\"name\":\"verifyingContract\",\"type\":\"address\"}],\"Permit\":[{\"name\":\"owner\",\"type\":\"address\"},{\"name\":\"spender\",\"type\":\"address\"},{\"name\":\"value\",\"type\":\"uint256\"},{\"name\":\"nonce\",\"type\":\"uint256\"},{\"name\":\"deadline\",\"type\":\"uint256\"}]}}"
                          ]
                        },
                        "metadata": {
                          "domain": "https://boredapeyartclub.com"
                        }
                      }
                    },
                    "details": "Details about the report"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          }
        ]
      }
    },
    "/v0/evm/transaction-bulk/scan": {
      "post": {
        "tags": ["EVM"],
        "summary": "Scan Bulk of Transactions",
        "description": "Get a risk recommendation with plain-language reasons for a bulk of transactions.",
        "operationId": "scan-transaction-bulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionBulkRequest"
              },
              "examples": {
                "Ethereum - Bulk Transaction Example": {
                  "value": {
                    "chain": "ethereum",
                    "account_address": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",
                    "data": [
                      {
                        "data": "0x",
                        "value": "0x100000000000",
                        "to": "0xA4e5961B58DBE487639929643dCB1Dc3848dAF5E",
                        "from": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
                      },
                      {
                        "data": "0x",
                        "value": "0xdeadbeef",
                        "to": "0x0D524a5B52737C0a02880d5E84F7D20b8d66bfba",
                        "from": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
                      }
                    ],
                    "block": "20224477",
                    "metadata": {
                      "domain": "https://example.com"
                    },
                    "options": ["validation"]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/routers__evm__response__TransactionScanResponse"
                  },
                  "type": "array",
                  "title": "Response Scan-Transaction-Bulk"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          }
        ]
      }
    },
    "/v0/evm/transaction-raw/scan": {
      "post": {
        "tags": ["EVM"],
        "summary": "Scan Raw Transaction",
        "description": "Get a risk recommendation with plain-language reasons for a raw transaction.",
        "operationId": "scan-raw-transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RawTransactionRequest"
              },
              "examples": {
                "Bengin": {
                  "summary": "Ethereum - Bengin Raw Transaction",
                  "value": {
                    "chain": "ethereum",
                    "data": "0x02f903f8018208488405f5e100850a9a03feb38302fa6a941111111254eeb25477b68fb85ed929f73a96058280b9038862e238bb00000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000002e00000000000000000000000000000000000000000000000000000000000000360000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000ab3e25398a24d6af080000000000000000000000000000000000000000000000000000000070db68f000000000000000000000000000000000000000000000000000000c0c2f020e4000000000000000000000000dac17f958d2ee523a2206206994597c13d831ec70000000000000000000000006e2a43be0b1d33b726f0ca3b8de60b3482b8b050000000000000000000000000b78ed0dd769e3fbd8e2b526f6f75dcccc7e2af4f0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000773594000000000000000000000000000000000000000000000000b4b34aede8e617e060000000a4000000a4000000a4000000a400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000014000000000000000000000000000000000000000000000000000000000000000a4bf15fcd8000000000000000000000000303389f541ff2d620e42832f180a08e767b28e10000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000242cc2878d0064b6509600000000060000b78ed0dd769e3fbd8e2b526f6f75dcccc7e2af4f00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000041a946fd8d5b9e873563a1411cbdf290b8310d8cdddc94da3aebf95b16a6dc0bf56d736ece63e3906527b7dcf08aa845d6a5cd4e0d99c9994f617b6faa378317f71c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000e26b9977c001a0386a78e05b5ab3b4badbae843aaa6ed379b2f4353aa730c8f360141e72cba692a036ed37a00c6364685e58bc0cd9cdd1c140d6690c3c0d216c1b67e3d262e2f0f9",
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "https://app.1inch.io"
                    },
                    "account_address": "0x362320f3a3eeeb4c4699b1b9062a84B2612bcdba",
                    "block": "17718858"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routers__evm__response__TransactionScanResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "APIKey": []
          },
          {
            "ClientID": []
          }
        ]
      }
    },
    "/v0/evm/user-operation/scan": {
      "post": {
        "tags": ["EVM"],
        "summary": "Scan User Operation",
        "description": "Get a risk recommendation with plain-language reasons for a user operation.",
        "operationId": "scan-user-operations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserOperationRequest"
              },
              "examples": {
                "Base Sepolia": {
                  "summary": "Base Sepolia - Sample User Operation",
                  "value": {
                    "chain": "base-sepolia",
                    "block": "0x5c6fd5",
                    "data": {
                      "operation": {
                        "sender": "0x77bA5AC3ca4864be26CA3112baDf07286CcC3324",
                        "nonce": "0x22",
                        "init_code": "0x",
                        "call_data": "0x51945447000000000000000000000000aeed57a826a998f9388ce2fd6cdb0b6aa75e3d190000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000044095ea7b300000000000000000000000050a9266605ba303b659ff105919205570f2af971000000000000000000000000000000000000000000000000000000000000006400000000000000000000000000000000000000000000000000000000",
                        "call_gas_limit": "0x3c38",
                        "verification_gas_limit": "0x1659f",
                        "pre_verification_gas": "0x2496ebc",
                        "max_fee_per_gas": "0x218fe7",
                        "max_priority_fee_per_gas": "0xf4240",
                        "paymaster_and_data": "0x9d6ac51b972544251fcc0f2902e633e3f9bd3f290000000000000000000000000000000000000000000000000000000065cc4c990000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001eb8343d03ec9fc28a877c2fcad21d9923c56e6ad156ea6647282a35ce215c931f9fbdf3bec37168f9c9b49e33a0818731c5892ff626852f9465e619538540221c",
                        "signature": "0x"
                      },
                      "entrypoint": "0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789"
                    },
                    "account_address": "0x77bA5AC3ca4864be26CA3112baDf07286CcC3324",
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "example.com"
                    }
                  }
                },
                "Polygon": {
                  "summary": "Polygon - Sample User Operation",
                  "value": {
                    "chain": "polygon",
                    "block": "0x31b8ea6",
                    "data": {
                      "operation": {
                        "sender": "0x16EF36EeE2935a8e4990142A6e540BEE76AE61a9",
                        "nonce": "0x2",
                        "init_code": "0x",
                        "call_data": "0x519454470000000000000000000000008ae01fcf7c655655ff2c6ef907b8b4718ab4e17c00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000006848d80ff0a0000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000063200385eeac5cb85a38a9a07a70c73e0a3271cfb54a700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000044095ea7b30000000000000000000000001231deb6f5749ef6ce6943a275a1d3e7486f4eae0000000000000000000000000000000000000000000000001ca76e88c68ea3d4001231deb6f5749ef6ce6943a275a1d3e7486f4eae000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005444630a0d8fae263e80cdb1993543d3c11e4dc8946c28124b56a3d6342f227ee804fa7bda500000000000000000000000000000000000000000000000000000000000000c0000000000000000000000000000000000000000000000000000000000000010000000000000000000000000016ef36eee2935a8e4990142a6e540bee76ae61a900000000000000000000000000000000000000000000000020f32a9d5e942c3d0000000000000000000000000000000000000000000000000000000000000160000000000000000000000000000000000000000000000000000000000000000c6379626572636f6e6e6563740000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002a307830303030303030303030303030303030303030303030303030303030303030303030303030303030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000001e0000000000000000000000000bd6c7b0d2f68c2b7805d88388319cfb6ecb50ea9000000000000000000000000bd6c7b0d2f68c2b7805d88388319cfb6ecb50ea9000000000000000000000000385eeac5cb85a38a9a07a70c73e0a3271cfb54a7000000000000000000000000385eeac5cb85a38a9a07a70c73e0a3271cfb54a70000000000000000000000000000000000000000000000001ca76e88c68ea3d400000000000000000000000000000000000000000000000000000000000000e000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000084eedd56e1000000000000000000000000385eeac5cb85a38a9a07a70c73e0a3271cfb54a700000000000000000000000000000000000000000000000000368ea97f4cff320000000000000000000000000000000000000000000000000009a0b47fe06945000000000000000000000000e906b91103d216420f7ae13b29fde73ce9c206cd000000000000000000000000000000000000000000000000000000000000000000000000000000001111111254eeb25477b68fb85ed929f73a9605820000000000000000000000001111111254eeb25477b68fb85ed929f73a960582000000000000000000000000385eeac5cb85a38a9a07a70c73e0a3271cfb54a700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001c673f2ac7613b5b00000000000000000000000000000000000000000000000000000000000000e0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c80502b1c5000000000000000000000000385eeac5cb85a38a9a07a70c73e0a3271cfb54a70000000000000000000000000000000000000000000000001c673f2ac7613b5b00000000000000000000000000000000000000000000000020f32a9d5e942c3d00000000000000000000000000000000000000000000000000000000000000800000000000000000000000000000000000000000000000000000000000000001c0000000000000003b6d03401366c529a133d4153211410126f12aa4e31aaac52e9b3012000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                        "call_gas_limit": "0x5fdbc",
                        "verification_gas_limit": "0x1b121",
                        "pre_verification_gas": "0xe5e4",
                        "max_fee_per_gas": "0x19bbcde6a6",
                        "max_priority_fee_per_gas": "0xe1fbabcba",
                        "paymaster_and_data": "0xe3dc822d77f8ca7ac74c30b0dffea9fcdcaaa32100000000000000000000000000000000000000000000000000000000659dcae7000000000000000000000000000000000000000000000000000000000000000027e9dcbd41dd73d351521d3cff2d29d01e24747e4d37c35a8df6c13234b1b0497b2885d3ec48006b608ed3673ec3b5421769f2bb9255c1a46913f6a15c6681cb1b",
                        "signature": "0x"
                      },
                      "entrypoint": "0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789"
                    },
                    "account_address": "0x16EF36EeE2935a8e4990142A6e540BEE76AE61a9",
                    "options": ["simulation", "validation"],
                    "metadata": {
                      "domain": "example.com"
                    }
                  }
                },
                "Ethereum Sepolia - EIP-7702": {
                  "summary": "Ethereum Sepolia - EIP-7702 User Operation",
                  "value": {
                    "metadata": {
                      "domain": "example.com"
                    },
[...]
